<mat-grid-list cols="2" rowHeight='100%'>
    <mat-grid-tile>
        <table width='100%' mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf='transactions'>  
            <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> type </th>
                <td mat-cell *matCellDef="let row"> {{row.type}} </td>
            </ng-container>
                  
            <ng-container matColumnDef="stock">
                <th mat-header-cell *matHeaderCellDef> stock </th>
                <td mat-cell *matCellDef="let row"> {{row.stock}} </td>
            </ng-container>

            <ng-container matColumnDef="numOfShares">
                <th mat-header-cell *matHeaderCellDef> numOfShares </th>
                <td mat-cell *matCellDef="let row"> {{row.numOfShares}}</td>
            </ng-container>

            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> price </th>
                <td mat-cell *matCellDef="let row"> {{row.price}} </td>
            </ng-container>
                  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
                  
    </mat-grid-tile>
    <mat-grid-tile>
        <form class="login-Form" [formGroup]="newTranction">
            <h1>Portfolio (${{stockValueTotle}})</h1>
            <h1>cash - ${{balance}}</h1>
            <mat-form-field appearance="outline">
                <mat-label>ticker</mat-label>
                <input matInput formControlName="ticker" (change) = 'updateQty()'>
            </mat-form-field>
            <div></div>
            <mat-form-field appearance="outline">
                <mat-label>Qty</mat-label>
                <input matInput formControlName="Qty">
            </mat-form-field>
            <div>
                <button mat-raised-button [disabled]="!newTranction.valid" (click)="buyClick()">Buy</button>
            </div>
        </form>
    </mat-grid-tile>
</mat-grid-list>